@model ERP_JOSEREIS.ViewModels.ClienteViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<br />
@if (Model.PessoaFisica != null)
{
    @Html.Partial("DetalhaPessoaFisica")
}
else
{
    @Html.Partial("DetalhaPessoaJuridica")
}

