@{
    ViewBag.Title = "Tabuada3";
}

<h2>Tabuada3</h2>
@using (Html.BeginForm())
{
    @Html.TextBox("Numero")
@*    <input type="text" id="Numero" name="Numero" />*@
    <input type="submit" value="Enviar" />
}
